.nav-link, #contact_text{
    font-style: italic;
}

.nav-link:hover{
    background-color: rgb(132, 161, 51);
}

.navbar-nav{
    padding-left: 60%;
}

.img-fluid{
    border-radius: 55%;
    
    
}

.footer {
    background-color: rgb(24, 23, 22);
    font-size: 1.25em;
    text-align: center;
    vertical-align: middle;
    padding: 1em 1em;
    color: #ffffff;
    text-decoration: none;
    font-style: italic;
    }

   #Contacto form label {
  font-weight: 700;
}

#boton{
    background-color: blueviolet;
}

#yo, #welcome, #contactame, #portfolio {
    font-style: italic;
    color: rgb(132, 161, 51);
}

#Portafolio{
    background-color: rgb(8, 93, 119);
}

.card{
    transition: transform 250ms;  
}

.card:hover{
    transform: translateY(-20px);
}

@media (max-width: 768px) {
  #contact form label {
    font-weight: 400;
  }
}

footer{
    font-size:small
}

.image-top{
    height: 250px;
    background-size: cover;
    background-position: center;
}